/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.todo-box {
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 24px;
  color: #ff8542;
  font-family: Roboto;
}

.todo-list-container{
  padding: 20px;
}