.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 28px 18px;
}

.todo-box {
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  font-size: 24px;
  color: #ff8542;
  font-family: Roboto;
  margin-bottom: 20px;
}

.add-todo-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-box {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 250px;
}

.add-btn {
  background-color: #ff8542;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #e36f2d;
}

.todo-list-container {
  padding: 0;
  list-style-type: none;
  width: 100%;
}
